/* Inter Font Family */

/* Inter Regular */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./inter-regular.woff2') format('woff2'),
       url('./inter-regular.woff') format('woff');
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./inter-medium.woff2') format('woff2'),
       url('./inter-medium.woff') format('woff');
}

/* Inter SemiBold */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./inter-semibold.woff2') format('woff2'),
       url('./inter-semibold.woff') format('woff');
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./inter-bold.woff2') format('woff2'),
       url('./inter-bold.woff') format('woff');
}